# Server configuration
PORT=5001
NODE_ENV=development

# Database configuration (PostgreSQL)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/document_dashboard?schema=public

# Client URL for CORS config
FRONTEND_URL=http://localhost:5173
